@import url('./template.css');

#RegisterForm {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.title-reg {
    display: flex;
    justify-content: center;
}

.register-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 7vh;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .register-container button[type="submit"]:hover {
    background-color: #0056b3;
  }